@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex flex-column justify-content-center align-items-center">
            <br />
            <h3 class="fw-bold" style="color: #203354">Central Philippine University</h3>
            <p class="fw-bolder" style="color: #203354">Carpass Register and Renewal</p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
